.footer {
    position: unset;
    height: 150px;  
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: cadetblue;
    margin-bottom: auto;
}