


<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-sm-3 pt-4" *ngFor=" let movie of movies">
    <div class="card">
      <img class="card-img-top modify-img" alt="Image not found" [attr.src]="Value+movie.poster_path">
      <div class="card-body">
        <h6 class="card-text">{{movie.title}}</h6>
        <p class="card-text"><strong>Overview:</strong>{{(movie.overview.length>50)? (movie.overview | slice:0:20)+'..':(movie.overview)}}</p>
        <p class="card-text"><strong>Rating:</strong> {{movie.vote_average}}</p>
        
        <a class="btn btn-danger" (click)="favdeleteMovies(movie.id)">Delete</a>
         
       <!--  <a class="btn btn-primary" data-toggle="modal" data-target="#movieModal" (click)="editMovies(movie.id)">Edit</a>
       -->
    <button type="button" class="btn btn-primary" data-toggle="modal" 
    data-target="#movieModal" (click)="getFavouriteOnModel(movie.id)">Edit  
       </button>
      </div>
    </div>

  </div>
  
</div>
</div>



 <div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieModalLabel">Update Movie</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form> 
        <label>Movie :</label>
          <input class="form-control mb-3" type="text" name="title" [(ngModel)]="movie.title" placeholder="Enter movie title" >
          <label>Overview :</label>
          <input class="form-control mb-3" type="text" name="overview" placeholder="Overview" [(ngModel)]="movie.overview">
          <label>Rating :</label>
          <input class="form-control mb-3" type="text" name="rating" placeholder="Rating" [(ngModel)]="movie.vote_average">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateMovieOnModel(movie)">Update</button>
        <button type="button" (click)="success()">Success</button>
      </div>
    </div>
  </div>
</div>
 

